<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main-layout(content)">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Estudiantes</title>
    <!-- CSS (Identidad) Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://jsdelivr.net">
    <style>
        /* Aquí puedes agregar tu CSS personalizado para la 'Identidad' */
        .card { border-radius: 15px; }
        .text-primary { color: #0056b3 !important; }
        .texto-listado { 
            font-weight: 600;
            color: #444;
        }
        .form-check-input:checked {
            background-color: #0d6efd;
            border-color: #0d6efd;
        }
    </style>
</head>
<body class="bg-light">

    <div class="container py-5">
        <!-- El contenido dinámico se insertará aquí -->
        <div th:replace="${content}"></div>
    </div>

    <!-- JS Común -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>